<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <!-- 테일윈드 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.8/tailwind.min.css">

    <!-- 데이지UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/1.14.0/full.css">

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- 반응형 메타태그 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <!-- Toast UI code-syntax -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>
</head>
<body>

<!-- header -->
<header th:replace="fragments/header::headerFragment"></header>

<div id="editor"></div>

<div layout:fragment="content">

</div>

<!-- toast ui 편집기 CDN URL -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<!-- Editor's Plugin code-syntax -->
<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

<script>
<!--    const Editor = toastui.Editor;-->
    const { Editor } = toastui;
    const { codeSyntaxHighlight } = Editor.plugin;

    const editor = new Editor({
          el: document.querySelector('#editor'),
          height: '600px',
          initialEditType: 'markdown',
          previewStyle: 'vertical',
          plugins: [codeSyntaxHighlight]
    });

</script>
</body>
</html>