<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto">
        <table class="article-list-table w-full text-gray-600 text-center">
            <thead class="p-4 border-t-2 border-b-2 h-10">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="#" class="hover:underline">test</a></td>
                <td>2021-10-17</td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#" class="hover:underline">test2</a></td>
                <td>2021-10-17</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="#" class="hover:underline">test3</a></td>
                <td>2021-10-17</td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="#" class="hover:underline">test4</a></td>
                <td>2021-10-17</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>