<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto">
        <div class="article-list w-11/12 mt-4 p-2 mx-auto text-gray-600 text-center rounded-xl border border-gray-400 shadow">
            <div class="py-2 border-b border-gray-400 font-bold">
                <div class="article-list-grid">
                    <span>No</span>
                    <span>제목</span>
                    <span>분류</span>
                    <span>날짜</span>
                </div>
            </div>
            <div>
                <div th:each="article : ${articleList}" class="article-list-grid py-1">
                    <span th:text="${article.id}"></span>
                    <span><a th:text="${article.title}" href="#" class="hover:underline"></a></span>
                    <span th:text="${article.board.name}"></span>
                    <span th:text="${article.modifiedDate}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>