<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>test upload</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <!-- Toast UI code-syntax -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <h1>Test Upload</h1>
    <div>
        <form action="">
            <input type="file" name="upFile" >
        </form>
        <button class="h-6 border border-black" id="uploadBtn">
            <span>업로드하기</span>
        </button>
    </div>
    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $('#uploadBtn').on("click", function(e){
            const formData = new FormData();
            const inputFile = $("input[name='upFile']");
            let files = inputFile[0].files;
            console.log(files);

            for(let i = 0; i < files.length; i++){
                formData.append("files", files[i]);
            }

            console.log("formData>>" + formData);

            $.ajax({
                url : '/api/up',
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                processData : false,
                contentType : false,
                data : formData,
                type : 'POST',
                success : function(result){
                    alert('success!');
                },
                error : function(result){
                    alert('fail!');
                }
            });
        });


    </script>
</div>
</body>
</html>