<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>View</title>

    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <!-- Toast UI code-syntax -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>

</head>
<body>
<div layout:fragment="content">

    <script>
        /*<![CDATA[*/
            const title = /*[[ ${article.title} ]]*/;
            const articleMD = /*[[ ${article.articleMD} ]]*/;
        /*]]*/
    </script>

    <div id="viewer">

    </div>
    <div>
        <button class="mdCheck h-8 border">마크다운확인</button>
    </div>

    <!-- toast ui 편집기 CDN URL -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- Editor's Plugin code-syntax -->
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

    <script>
        const { Editor } = toastui;
        const { codeSyntaxHighlight } = Editor.plugin;

        const viewer = Editor.factory({
          el: document.querySelector('#viewer'),
          viewer: true,
          height: '500px',
          initialValue: 'articleMD',
          plugins: [codeSyntaxHighlight]
        });

        function checkMd(){
            $('.mdCheck').click(function(){
                alert('hihi');
            });
        }

        checkMd();
    </script>
</div>
</body>
</html>