<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admLayout}">
<head>
    <meta charset="UTF-8">
    <title>memberManage</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 관리자 페이지 css -->
    <link rel="stylesheet" href="/css/admManage.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto w-11/12 mt-2">
        <div class="flex">
            <div class="py-1 px-2 bg-gray-600 text-white font-bold rounded">
                <a href="/adm/join">
                    <span><i class="fas fa-plus"></i></span>
                    <span>계정 생성</span>
                </a>
            </div>
            <div class="flex-grow"></div>
            <div class="searchForm">
                <form action="/adm/members">
                    <select name="searchType" class="shadow-md rounded py-1 px-2">
                        <option value="loginId">아이디</option>
                        <option value="name">이름</option>
                        <option value="nickname">닉네임</option>
                    </select>
                    <input type="text" name="searchKey" class="shadow-md rounded py-1 px-2">
                    <button type="submit" class="bg-gray-500 hover:bg-black text-white font-bold py-1 px-2 rounded">검색</button>
                </form>
            </div>
        </div>
        <table class="admMemberList mt-2 w-full">
            <thead>
            <tr class="bg-gray-600 text-white grid-adm-members text-center font-bold py-2 px-1">
                <td>
                    <input type="checkbox">
                </td>
                <td>아이디</td>
                <td>이름</td>
                <td>닉네임</td>
                <td>권한</td>
                <td>탈퇴</td>
            </tr>
            </thead>
            <tbody class="shadow">
            <tr th:each="member : ${memberList}" class="grid-adm-members py-2 px-1 text-center">
                <td>
                    <input type="checkbox">
                </td>
                <td th:text="${member.loginId}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.nickname}"></td>
                <th:block th:switch="${member.authLevel}">
                    <td th:case="7">관리자</td>
                    <td th:case="3">매니저</td>
                </th:block>
                <td>
                    <a th:attr="onclick=|delMember('${member.id}')|" class="cursor-pointer">
                        <i class="fas fa-user-times"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/admManage.js"></script>
</div>
</body>
</html>