<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>memberList</title>


    <link rel="stylesheet" href="../css/common.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- js파일을 head에서 적용하려니 적용이 안됨, defer속성 넣어주기, 페이지 구성이 끝날 때까지 스크립트실행을 지연. -->
    <script type="text/javascript" src="../js/addClass.js" defer="defer"></script>
</head>
<body>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
        <div th:each="list : ${lists}">
            <div th:utext="${list}"></div>
        </div>
        <div>
            <p class="test">yoyo</p>
        </div>
    </div>


</body>
</html>