<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <!-- Toast UI code-syntax -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>

    <meta charset="UTF-8">
    <title>게시물 수정</title>
</head>
<body>

<header th:replace="fragments/header::headerFragment"></header>

<div layout:fragment="content">

    <form action="/adm/modify/${article.id}" th:action method="POST" onsubmit="modify_submit(this); return false;">

        <input type="hidden" id="articleMD" name="articleMD">
        <div class="w-full my-4 mx-2 flex justify-center">
            <select name="boardName" id="boardName" class="px-2 py-1 border text-lg rounded">
                <th:block th:each="board : ${boardList}">
                    <option th:value="${board.name}" th:selected="${board.name.equals(article.board.name)}"
                            th:text="${board.name}"></option>
                </th:block>
            </select>
            <span class="py-2 px-4 text-lg font-bold text-gray-600 bg-gray-300 mr-2 ml-2 rounded">제목</span>
            <input type="text" name="title" th:value="${article.title}" class="border border-gray-300 w-1/2 p-2 rounded" placeholder="제목 입력">
        </div>
        <div id="editor" class="editor"></div>
        <div class="flex justify-center">
            <button type="submit"
                    class="p-2 m-2 font-bold text-gray-600 bg-gray-300 hover:bg-black hover:text-white">
                수정
            </button>
            <button
                    class="p-2 m-2 font-bold text-gray-600 bg-gray-300 hover:bg-black hover:text-white">
                <a href="javascript:history.back()">취소</a>
            </button>
        </div>
    </form>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            const prevArticleMD = /*[[ ${article.articleMD} ]]*/;
        /*]]*/
    </script>

    <!-- toast ui 편집기 CDN URL -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- Editor's Plugin code-syntax -->
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>

    <script>
        const { Editor } = toastui;
        const { codeSyntaxHighlight } = Editor.plugin;

        const editor = new Editor({
              el: document.querySelector('#editor'),
              height: '600px',
              initialEditType: 'markdown',
              previewStyle: 'vertical',
              initialValue: prevArticleMD,
              plugins: [codeSyntaxHighlight]
        });

        function modify_submit(form){
<!--            const articleHtml = editor.getHTML();-->
            const articleMD = editor.getMarkdown();

            if(form.title.value.trim().length == 0){
                alert("제목을 입력해주세요.");
                form.title.focus();
                return;
            }

            if(articleMD.trim().length == 0){
                alert("내용을 입력해주세요.");
                return;
            }

<!--            form.articleHtml.value = articleHtml;-->
            form.articleMD.value = articleMD;

            form.submit();
        }
    </script>
    <!-- toast ui 커스텀 css -->
    <link rel="stylesheet" href="/css/toastUiCustom.css">
</div>
</body>
</html>