/* 게시물 관리 페이지 시작 */
/* 관리자페이지 게시물리스트 tr grid 분할 */
.grid-adm-articles{
  display:grid;
  grid-template-columns:5% 10% 30% 10% 30% 15%;
}

/* 각 줄마다 border */
.admArticleList > tbody > tr{
  border-top:1px solid #ddd;
  box-sizing:border-box;
}

.admArticleList > tbody > tr:first-child{
  border-top:0px;
}

/* 게시판 선택메뉴 */
.select-board-wrap{
  position:relative;
}

.select-board-wrap > ul{
  position:absolute;
  top:100%;
  left:0;
  border-bottom-left-radius:0.25rem;
  border-bottom-right-radius:0.25rem;
  visibility:hidden;
  opacity:0;
  transition:0.3s;
}

.select-board-wrap:hover > ul{
  visibility:visible;
  opacity:1;
}

.select-board-wrap:hover{
  border-top-left-radius:0.25rem;
  border-top-right-radius:0.25rem;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}

.select-board-wrap:hover > ul > li:first-child{
  border-top:2px solid white;
}

/* 게시물 관리 페이지 끝 */


/* 게시판 관리 페이지 시작 */
.grid-adm-boards{
  display:grid;
  grid-template-columns:15% 50% 35%;
}

.admBoardList > tbody > tr{
  border-top:1px solid #ddd;
  box-sizing:border-box;
}

.admBoardList > tbody > tr:first-child{
  border-top:0px;
}

.addBoardBtn{
  position:relative;
}

.addBoardInput{
  position:absolute;
  display:none;
}

.addBoardInput > div > button:hover{
  background-color:black;
  color:white;
}

.modifyBoardInput{
  position:absolute;
  display:none;
}

.modifyBoardInput > div > button:hover{
  background-color:black;
  color:white;
}
/* 게시판 관리 페이지 끝 */


/* 회원 관리 페이지 시작 */
.grid-adm-members{
  display:grid;
  grid-template-columns:10% 20% 20% 20% 20% 10%;
}

.admMemberList > tbody > tr{
  border-top:1px solid #ddd;
  box-sizing:border-box;
}

.admMemberList > tbody > tr:first-child{
  border-top:0px;
}
/* 회원 관리 페이지 끝 */