/* 홈(인덱스) */
.bannerSection > img{
  width:100%;
}

.bg-title-gray{
  background-color:#56626a;
}


.bg-box-gray{
  background-color:#758499;
}

/* 텍스트가 너비를 넘어갈 때 ...으로 처리(너비는 따로 정해주기) */
.text-over-hidden{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

/* 유저 페이지 - 게시물 리스트 */
.article-list-grid{
  display:grid;
  grid-template-columns:15% 30% 20% 35%;
}

/* 사이드바 시작 */
.side-menu-btn{
  border-radius:50%;
  transition:0.3s;
}

.side-menu-btn.active{
  transform:rotate(45deg);
}

.side-menu-wrap{
  background-color:rgba(0,0,0,0.7);
  border-radius:30px;
  overflow:hidden;
  visibility:hidden;
  opacity:0;
  transform:translateY(-100%);
  transition:0.3s;
}

.side-menu-wrap.active{
  visibility:visible;
  opacity:1;
  transform:translateY(0);
}
/* 사이드바 끝 */

/* 로그인, 회원가입 시작 */
/* 입력칸 css */
.grid-input{
  display:grid;
  grid-template-columns:20% 20% 40% 20%;
  padding:10px;
  font-size:1.2rem;
}

.grid-input-join{
  display:grid;
  grid-template-columns:15% 25% 40% 5% 15%;
  padding:10px;
  font-size:1.2rem;
}

/* title css */
.title-wrap-pattern{
  display:flex;
  color:white;
  font-size:20px;
  top:0;
  left:5%;
  transform:translateY(-50%);
}

.title-wrap-pattern > .triangle-left{
  width:0;
  height:0;
  border-top:24px solid transparent;
  border-bottom:24px solid transparent;
  border-right:24px solid #4b5563;
}

.title-wrap-pattern > .triangle-right{
  width:0;
  height:0;
  border-top:24px solid transparent;
  border-bottom:24px solid transparent;
  border-left:24px solid #4b5563;
}

.title-wrap-pattern > .title-center{
  width:100px;
  background-color:#4b5563;
  display:flex;
  justify-content:center;
  align-items:center;
}

.title-wrap-pattern > .title-right{
  width:0;
  height:0;
  border-bottom:48px solid white;
  border-left:24px solid #4b5563;
}

/* 계정 생성 시 비밀번호 확인 아이콘 */
.pwTrue{
  display:none;
}

.pwTrue.active{
  display:block;
}

.checkPwTrue{
  display:none;
}

.checkPwTrue.active{
  display:block;
}

.checkPwFalse{
  display:none;
}

.checkPwFalse.active{
  display:block;
}


/* 로그인, 회원가입 끝 */