<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admLayout}">
<head>
    <meta charset="UTF-8">
    <title>articleManage</title>

    <!-- 게시물 관리 css -->
    <link rel="stylesheet" href="/css/articleManage.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto w-11/12">
        <div class="flex">
            <div class="select-board-wrap bg-gray-600 text-white font-bold px-4 py-2 rounded">
                <div class="select-board-btn cursor-pointer">
                    <span>게시판 선택</span>
                </div>
                <ul class="bg-gray-600 text-white font-bold w-full px-4">
                    <li th:each="board : ${boardList}" class="p-2">
                        <a th:href="@{/adm/articles?boardName={boardName}(boardName=${board.name})}" th:text="${board.name}"></a>
                    </li>
                </ul>
            </div>
            <div class="flex-grow"></div>
            <div class="searchForm">
                <form action="/adm/articles">
                    <select name="boardName" class="shadow-md rounded py-1 px-2">
                        <option value="">전체</option>
                        <th:block th:each="board : ${boardList}">
                            <option th:value="${board.name}" th:selected="${board.name.equals(articleSearchDto.boardName)}"
                                    th:text="${board.name}"></option>
                        </th:block>
                    </select>
                    <select name="searchType" th:value="${articleSearchDto.searchType}" class="shadow-md rounded py-1 px-2">
                        <option value="title">제목</option>
                    </select>
                    <input type="text" name="searchKey" th:value="${articleSearchDto.searchKey}" class="shadow-md rounded py-1 px-2">
                    <button type="submit" class="bg-gray-500 hover:bg-black text-white font-bold py-1 px-2 rounded">검색</button>
                </form>
            </div>
        </div>
        <table class="admArticleList mt-4 w-full">
            <thead>
            <tr class="bg-gray-600 text-white grid-adm-articles text-center font-bold py-2 px-1">
                <td>
                    <input type="checkbox">
                </td>
                <td>번호</td>
                <td>제목</td>
                <td>분류</td>
                <td>날짜</td>
                <td></td>
            </tr>
            </thead>
            <tbody class="shadow">
                <tr th:each="article : ${articleList}" class="grid-adm-articles py-2 px-1 text-center">
                    <td>
                        <input type="checkbox">
                    </td>
                    <td th:text="${article.id}"></td>
                    <td>
                        <a th:text="${article.title}" href="#" class="hover:underline"></a>
                    </td>
                    <td >
                        <th:block th:with="board = ${article.board}">
                            <span th:text="${board.name}"></span>
                        </th:block>
                    </td>

                    <td th:text="${article.modifiedDate}"></td>
                    <td>
                        <a href="#">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>