<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admLayout}">
<head>
    <meta charset="UTF-8">
    <title>articleManage</title>

    <link rel="stylesheet" href="/css/articleManage.css">
</head>
<body>
<div layout:fragment="content">
    <table class="admArticleList w-11/12 mx-auto mt-4">
        <thead>
        <tr class="bg-gray-600 text-white grid-adm-articles text-center font-bold py-2 px-1">
            <td>
                <input type="checkbox">
            </td>
            <td>번호</td>
            <td>제목</td>
            <td>분류</td>
            <td>날짜</td>
            <td></td>
        </tr>
        </thead>
        <tbody class="shadow">
            <tr th:each="article : ${articleList}" class="grid-adm-articles py-2 px-1 text-center">
                <td>
                    <input type="checkbox">
                </td>
                <td th:text="${article.id}"></td>
                <td>
                    <a th:text="${article.title}" href="#" class="hover:underline"></a>
                </td>
                <td >
                    <th:block th:with="board = ${article.board}">
                        <span th:text="${board.name}"></span>
                    </th:block>
                </td>

                <td th:text="${article.modifiedDate}"></td>
                <td>
                    <a href="#">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>