<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admLayout}">
<head>
    <meta charset="UTF-8">
    <title>boardManage</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 관리자 페이지 css -->
    <link rel="stylesheet" href="/css/admManage.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto w-11/12">
        <div class="mt-4 flex justify-end">
            <div id="addBoardBtn" class="py-1 px-2 bg-gray-600 text-white font-bold rounded cursor-pointer">
                <span><i class="fas fa-plus"></i></span>
                <span>게시판 생성</span>
            </div>
            <div id="addBoardInput" class="addBoardInput w-52 h-32 p-2 bg-white border border-gray-300 shadow rounded">
                <div class="flex justify-center p-2 font-bold text-gray-600">
                    <span>게시판 이름 입력</span>
                </div>
                <div class="flex justify-center">
                    <input id="boardName" type="text" name="boardName" placeholder="새 게시판 이름" class="shadow p-1">
                </div>
                <div class="flex justify-evenly p-2">
                    <button th:attr="onclick=|checkBoardAndAdd()|" class="text-gray-600 font-bold py-1 px-2 shadow rounded">
                        <span>생성</span>
                    </button>
                    <button id="addBoardClose" class="text-gray-600 font-bold py-1 px-2 shadow rounded">
                        <span>취소</span>
                    </button>
                </div>
            </div>
        </div>
        <table class="admBoardList w-full mt-1">
            <thead>
            <tr class="bg-gray-600 text-white grid-adm-boards text-center font-bold py-2 px-1">
                <td>번호</td>
                <td>게시판 이름</td>
                <td>수정 / 삭제</td>
            </tr>
            </thead>
            <tbody class="shadow">
            <tr class="grid-adm-boards py-2 px-1 text-center" th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>

                <td>
                    <a th:text="${board.name}" th:href="@{/adm/articles(boardName=${board.name})}"></a>
                </td>
                <td>
                    <a href="#" class="px-1">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" class="px-1">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/admManage.js"></script>
</div>
</body>
</html>