<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admLayout}">
<head>
    <meta charset="UTF-8">
    <title>boardManage</title>

    <!-- 관리자 페이지 css -->
    <link rel="stylesheet" href="/css/admManage.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto w-11/12">
        <div class="mt-4 flex justify-end">
            <div class="py-1 px-2 bg-gray-600 text-white font-bold rounded cursor-pointer">
                <span><i class="fas fa-plus"></i></span>
                <span>게시판 생성</span>
            </div>
        </div>
        <table class="admBoardList w-full mt-1">
            <thead>
            <tr class="bg-gray-600 text-white grid-adm-boards text-center font-bold py-2 px-1">
                <td>번호</td>
                <td>게시판 이름</td>
                <td>수정 / 삭제</td>
            </tr>
            </thead>
            <tbody class="shadow">
            <tr class="grid-adm-boards py-2 px-1 text-center" th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>

                <td>
                    <a th:text="${board.name}" th:href="@{/adm/articles(boardName=${board.name})}"></a>
                </td>
                <td>
                    <a href="#" class="px-1">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" class="px-1">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>