<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admLayout}">
<head>
    <meta charset="UTF-8">
    <title>AdminHome</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto pt-2">
        <div class="shadow-xl border border-gray-200 rounded-xl w-full ml-2 mb-4">
            <div class="grid grid-cols-3 gap-3 p-2">
                <div class="flex justify-center items-center">
                    <div class="w-48 h-24 flex flex-col text-gray-600 font-bold text-lg rounded-xl border border-gray-300">
                        <div class="flex justify-center py-1 border-b border-gray-200">
                            <span>게시물 수</span>
                        </div>
                        <div class="flex-grow flex justify-center items-center">
                            <span th:text="${articleCounts}"></span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="w-48 h-24 flex flex-col text-gray-600 font-bold text-lg rounded-xl border border-gray-300">
                        <div class="flex justify-center py-1 border-b border-gray-200">
                            <span>게시판 수</span>
                        </div>
                        <div class="flex-grow flex justify-center items-center">
                            <span th:text="${boardCounts}"></span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="w-48 h-24 flex flex-col text-gray-600 font-bold text-lg rounded-xl border border-gray-300">
                        <div class="flex justify-center py-1 border-b border-gray-200">
                            <span>임시</span>
                        </div>
                        <div class="flex-grow flex justify-center items-center">
                            <span>22</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>