<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>HOME</h1>
            <p>
                <a href="/home/maketest">테스트데이터 생성</a>
            </p>
            <p>회원기능</p>
            <p>
                <a href="/member/login">로그인</a>
                <a href="/doLogout">로그아웃</a>
                <a href="/member/join">회원가입</a>
                <a href="/member/list">회원목록</a>
                <a href="/member/mypage">마이페이지</a>
            </p>
                <hr>
            <p>
                <a href="/article/write">글쓰기</a>
            </p>
        </div>
    </div>
</body>
</html>