<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>HOME</h1>
            <hr>
            <p>
                <a href="/home/maketest">테스트데이터 생성</a>
            </p>
            <hr>
            <h4>현재 로그인 회원</h4>
            <!-- isAnonymous()는 로그인 하지 않은 일반 사용자를 뜻함, 로그인 하지 않았을때만 나옴 -->
            <p sec:authorize="isAnonymous()">로그인 필요</p>

            <!-- isAuthenticated()는 로그인 하고 인증을 획득한 사용자, 로그인 했을때 나옴 -->
            <p sec:authorize="isAuthenticated()">로그인 완</p>
            <hr>
            <p>회원기능</p>
            <p>
                <a href="/member/login">로그인</a>
                <a href="/member/logout">로그아웃</a>
                <a href="/member/join">회원가입</a>
                <a href="/member/list">회원목록</a>
                <a href="/member/mypage">마이페이지</a>
            </p>
                <hr>
            <p>
                <a href="/article/write">글쓰기</a>
            </p>
        </div>
    </div>
</body>
</html>