<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto">
        <div class="max-w-3xl mx-auto shadow-lg mt-20 rounded-lg box-border border-t border-gray-100 relative">
            <div class="title-wrap-pattern absolute">
                <div class="triangle-left"></div>
                <div class="title-center">
                    <span>회원가입</span>
                </div>
                <div class="title-right"></div>
                <div class="triangle-right"></div>
            </div>
            <!-- th:action 으로 csrf 토큰값을 자동으로 넘겨줌 -->
            <form th:action="@{/members/join}" method="post" class="px-4 py-10">
                <div class="grid-input my-2">
                    <div></div>
                    <span class="text-center">아이디</span>
                    <input type="text" name="loginId" class="border shadow rounded py-1"
                           placeholder="사용할 아이디를 입력해주세요.">
                    <div></div>
                </div>
                <div class="grid-input my-2">
                    <div></div>
                    <span class="text-center">비밀번호</span>
                    <input type="password" name="loginPw" autocomplete="off" class="border shadow rounded py-1"
                           placeholder="사용할 비밀번호를 입력해주세요.">
                    <div></div>
                </div>
                <div class="grid-input my-2">
                    <div></div>
                    <span class="text-center">이름</span>
                    <input type="text" name="name" class="border shadow rounded py-1"
                           placeholder="이름을 입력해주세요.">
                    <div></div>
                </div>
                <div class="grid-input my-2">
                    <div></div>
                    <span class="text-center">닉네임</span>
                    <input type="text" name="nickname" class="border shadow rounded py-1"
                           placeholder="닉네임을 입력해주세요.">
                    <div></div>
                </div>
                <div class="grid-input my-2">
                    <div></div>
                    <span class="text-center">이메일</span>
                    <input type="email" name="email" class="border shadow rounded py-1"
                           placeholder="이메일을 입력해주세요.">
                    <div></div>
                </div>
                <div class="flex justify-center my-4">
                    <button type="submit" class="bg-gray-600 rounded w-16 m-1">
                        <span class="text-white font-bold">가입</span>
                    </button>
                    <button class="bg-gray-600 rounded w-16 py-2 m-1">
                        <a href="javascript:history.back()" class="text-white font-bold">취소</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>